<!-- WRAPPER -->
<div id="wrapper">
  <!-- NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand">
      <a ><img src="assets/mainv/img/v.png" alt="logo" class="img-responsive logo vc"></a>
    </div>
    <div class="container-fluid">
      <div class="navbar-btn">
        <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
      </div>
    
     
      <div id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
              <i class="lnr lnr-alarm"></i>
              <span class="badge bg-danger">{{persons.length}}</span>
            </a>
            <ul class="dropdown-menu notifications">
              <li><a class="notification-item"><span class="dot bg-warning"></span>{{persons.length}} User(s)</a></li>
             
            </ul>
          </li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">Basic Use</a></li>
              <li><a href="#">Working With Data</a></li>
              <li><a href="#">Security</a></li>
              <li><a href="#">Troubleshooting</a></li>
            </ul>
          </li> -->
          <li class="dropdown">
            <a  class="dropdown-toggle" data-toggle="dropdown"><img src={{userInfo.picture}}  class="img-circle" alt=""> <span>{{userInfo.name}} {{userInfo.surname}}</span><i class="icon-submenu lnr lnr-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a routerLink = "/profile" ><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
  
              <li matTooltip="Logout" ><a ><i class="lnr lnr-exit"   ></i> <span (click)="onLogout()">Logout</span></a></li>
            </ul>
          </li>
          <!-- <li>
            <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <!-- LEFT SIDEBAR -->
  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <li><a routerLink = "/admin" class="active"><i class="lnr lnr-home"></i> <span>Dashboard-Home</span></a></li>
          <li><a routerLink = "/mealvoucher" class=""><i class="lnr lnr-code"></i> <span>Meal Vouchers</span></a></li>
          <li><a routerLink="/department" class=""><i class="lnr lnr-chart-bars"></i> <span>Departments</span></a></li>
          <li><a routerLink = "/events" class=""><i class="lnr lnr-cog"></i> <span>Events</span></a></li>

          <li>
            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>User</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
            <div id="subPages" class="collapse ">
              <ul class="nav">
                <li><a routerLink = "/profile" class="">Profile</a></li>
                <li><a (click)="onLogout()"  matTooltip="Logout" class="">Logout</a></li>
          
              </ul>
            </div>
          </li>
       
        </ul>
      </nav>
    </div>
  </div>
  <!-- END LEFT SIDEBAR -->
  <!-- MAIN -->
  <div class="main">
    <!-- MAIN CONTENT -->


    
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->


        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Overview</h3>
            <p class="panel-subtitle">Today's Date: {{date}}</p>
          </div>


           
        </div>


        <div  class="row">
          <div *ngIf="isAdmin" class="col-md-7">
            <!-- TODO LIST -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Colleague Entry</h3>
                <div class="right">
                  <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                  <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
              </div>
              <div class="panel-body">
                <form #form = "ngForm" (ngSubmit)="onSubmit(form)">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>&nbsp;Firm Number</span>
                  <input class="form-control"  name = "fmno" type="number" max="6" min="6" ngModel required>
                </div>
  
              
                <br>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Name</span>
                  <input class="form-control"  name = "name" type="text"  maxlength="30" ngModel required>
                </div>

                <br>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Surname</span>
                  <input class="form-control"  name = "surname" type="text"  maxlength="30" ngModel required>
                </div>

                <br>
                <div class="input-group">
              
                  <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Hire date</span>
                  <input class="form-control"  name="hiredate"  type="date" ngModel required>
                </div>
                <br>
                <div class="input-group">
              
                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email</span>
                    <input class="form-control"  name="email"  type="email" ngModel email required>
                  </div>
                  <br>
                <div class="input-group">
              
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"> &nbsp;Profile picture</i></span>
                    <input class="form-control"  name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" ngModel required>
                  </div>
                  <br>
                
                <button type="button" [disabled]="!form.valid" type="submit" class="btn btn-primary btn-bottom center-block">Save &nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i></button>
                  </form>
              </div>
            </div>
            <!-- END TODO LIST -->
          </div>
          <div class="col-md-5">
            <!-- TIMELINE -->
            <div class="panel panel-scrolling">
              <div class="panel-heading">
                <h3 class="panel-title">Colleagues</h3>
                <div class="right">
                  <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                  <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
              </div>
              <div class="panel-body">
                <ul class="list-unstyled activity-list">
                  <li *ngFor = "let colleague of persons">
                    <img src={{colleague.picture}} alt="Profile Picture" class="img-circle pull-left avatar">
                    <p><a >{{colleague.name}} {{colleague.surname}}</a> is part of the Voucher system. Account status : <span *ngIf="!colleague.isActive" class="timestamp2">In-Active</span> <span *ngIf="colleague.isActive" class="timestamp2">Active... <br> <i *ngIf="isAdmin" matTooltip="Delete" (click)="onDelete(colleague)" class="fa fa-trash-o" style="color:red; font-size:18px" aria-hidden="true"></i></span></p>
                    
                  </li>
                  
                </ul>
                <!-- <button type="button" class="btn btn-primary btn-bottom center-block">Load More</button> -->
              </div>
            </div>
            <!-- END TIMELINE -->
          </div>
        </div>



       



      </div>
    </div>
    <!-- END MAIN CONTENT -->
    
  </div>
  <!-- END MAIN -->
  <div class="clearfix"></div>
  <footer>
      <div class="container-fluid">
        <p class="copyright">&copy; 2018 . All Rights Reserved.</p>
      </div>
    </footer>
</div>


<script src="assets/mainv/vendor/jquery/jquery.min.js"></script>
<script src="assets/mainv/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/mainv/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/mainv/scripts/klorofil-common.js"></script>

<script src="assets/mainv/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/mainv/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/mainv/scripts/klorofil-common.js"></script>