<!-- WRAPPER -->
<div id="wrapper">
  <!-- NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand">
        <a ><img src="assets/mainv/img/v.png" alt="logo" class="img-responsive logo vc"></a>
    </div>
    <div class="container-fluid">
      <div class="navbar-btn">
        <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
      </div>
    
     
      <div id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
              <i class="lnr lnr-alarm"></i>
              <span class="badge bg-danger">{{vouchers.length}}</span>
            </a>
            <ul class="dropdown-menu notifications">
             
              <li><a class="more">{{vouchers.length}} Voucher(s)</a></li>
            </ul>
          </li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">Basic Use</a></li>
              <li><a href="#">Working With Data</a></li>
              <li><a href="#">Security</a></li>
              <li><a href="#">Troubleshooting</a></li>
            </ul>
          </li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src={{userInfo.picture}}  class="img-circle" alt=""> <span>{{userInfo.name}} {{userInfo.surname}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/profile"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
              <li><a (click)="onLogout()"  matTooltip="Logout" ><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
            </ul>
          </li>
          <!-- <li>
            <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <!-- LEFT SIDEBAR -->
  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <li><a routerLink = "/admin" class=""><i class="lnr lnr-home"></i> <span>Dashboard-Home</span></a></li>
          <li><a routerLink = "/mealvoucher" class="active"><i class="lnr lnr-code"></i> <span>Meal Vouchers</span></a></li>
          <li><a routerLink = "/department" class=""><i class="lnr lnr-chart-bars"></i> <span>Departments</span></a></li>
          <li><a routerLink = "/events" class=""><i class="lnr lnr-cog"></i> <span>Events</span></a></li>
      
          <li>
            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>User</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
            <div id="subPages" class="collapse ">
              <ul class="nav">
                <li><a routerLink="/profile" class="">Profile</a></li>
                <li><a (click)="onLogout()"  matTooltip="Logout" class="">Logout</a></li>
             
              </ul>
            </div>
          </li>
       
        </ul>
      </nav>
    </div>
  </div>
  <!-- END LEFT SIDEBAR -->
  <!-- MAIN -->
  <div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Overview</h3>
            <p class="panel-subtitle">Today's date: {{date}}</p>
          </div>

          <div class="panel-body">
              <div class="col-md-4">
                
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o" aria-hidden="true"></i>
                    &nbsp; 
                    &nbsp; 
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    </h3>
                    <div class="right">
                      <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                      <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                    </div>
                  </div>
                  <div class="panel-body no-padding bg-primary text-center">
                    <div class="padding-top-30 padding-bottom-30">
                        <!-- <i class="fa fa-table fa-5x" aria-hidden="true"></i>
                      <h3>Events</h3> -->
                      <img class="vimg" src="assets/mainv/img/pic3.jpeg">
                    </div>
                  </div>
                </div>
            
              </div>
              
              <div class="col-md-4">
          
                <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-clock-o" aria-hidden="true"></i>
                        &nbsp; 
                        &nbsp; 
                          <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </h3>
                    <div class="right">
                      <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                      <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                    </div>
                  </div>
                  <div class="panel-body no-padding bg-primary text-center">
                    <div class="padding-top-30 padding-bottom-30">
                        <!-- <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                      <h3>Colleagues and Admins</h3> -->
                      <img class="vimg" src="assets/mainv/img/pic4.jpeg">
                    </div>
                  </div>
                </div>
              
              </div>
              
              <div class="col-md-4">
          
                <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-clock-o" aria-hidden="true"></i>
                        &nbsp; 
                        &nbsp; 
                          <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </h3>
                    <div class="right">
                      <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                      <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                    </div>
                  </div>
                  <div class="panel-body no-padding bg-primary text-center">
                    <div class="padding-top-30 padding-bottom-30">
                        <!-- <i class="fa fa-table fa-5x" aria-hidden="true"></i>
                      <h3>Locations and Resturants</h3> -->
                      <img class="vimg" src="assets/mainv/img/pic2.jpeg">
                    </div>
                  </div>
                </div>
                
              </div>
             
            </div>

        </div>


 


        <!-- END OVERVIEW -->
        <div class="row">
          <div class="col-md-6">
            <!-- RECENT PURCHASES -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Meal Vouchers</h3>
                <div class="right">
                  <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                  <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
              </div>
              <div class="panel-body no-padding">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Voucher ID</th>
                      <th>Reason for voucher</th>
                      <th>Total Amount</th>
                      <th>Amount Spent</th>
                      <th>Balance</th>
                      <th>Voucher status</th>
                      <th>Action</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let voucher of vouchers">
                      <td><a >{{voucher.voucher_id}}</a></td>
                      <td>{{voucher.reason}}</td>
                      <td>{{voucher.total_amount}}</td>
                      <td>{{voucher.amount_spent}}</td>
                      <td>{{voucher.balance}}</td>
                      <td><span class="label label-success">{{voucher.voucher_status}}</span></td>
                      <td> <i   matTooltip="Edit" class="fa fa-pencil-square-o" title="Click to Edit" (click)="onEdit(voucher)" style="color:blue; font-size:18px" aria-hidden="true"></i> &nbsp; <i   matTooltip="Delete" title="Delete" (click)="onDelete(voucher)" class="fa fa-trash-o" style="color:red; font-size:18px" aria-hidden="true"></i></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Meal Vouchers</span></div>
                  <!-- <div class="col-md-6 text-right"><a href="#" class="btn btn-primary">View All Purchases</a></div> -->
                </div>
              </div>
            </div>
            <!-- END RECENT PURCHASES -->
          </div>
          <div class="col-md-6">
            <!-- MULTI CHARTS -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Create meal voucher</h3>
                <div class="right">
                  <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                  <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
              </div>
              <div class="panel-body">
                
                <div class="panel">
                  <!-- <div class="panel-heading">
                    <h3 class="panel-title">Input Groups</h3>
                  </div> -->
                  <div class="panel-body">
                  
                
                  <form *ngIf ="!isEdit" #form = "ngForm" (ngSubmit)="onAddVoucher(form)">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                      <input class="form-control" placeholder="Voucher ID" type="text" name="voucher_id" ngModel required>
                    </div>
      
                  
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                      <input  placeholder="Total amount" class="form-control" type="number" name="total_amount" ngModel required>
                      <span class="input-group-addon">.00</span>
                    </div>

                    <br>
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                        <input  placeholder="Amount Spent" class="form-control" type="number" name="amount_spent" ngModel required>
                        <span class="input-group-addon">.00</span>
                      </div>
  
                   


                          <br>

                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                      <textarea class="form-control" placeholder="Reason for voucher" type="text" name="reason" ngModel required></textarea>
                    </div>
                    <br>

                    <button type="button" [disabled]="!form.valid" type="submit" class="btn btn-primary btn-bottom center-block">Save &nbsp;<i class="fa fa-telegram" aria-hidden="true"></i></button>

                   
                    </form>

                    <form *ngIf="isEdit" #form = "ngForm" (ngSubmit)="onUpdate(form)">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                          <input [(ngModel)]="editingVoucher.voucher_id"  class="form-control" placeholder="Voucher ID" type="text" name="voucher_id" ngModel required>
                        </div>
          
                      
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                          <input [(ngModel)]="editingVoucher.total_amount"   placeholder="Total amount" class="form-control" type="number" name="total_amount" ngModel required>
                          <span class="input-group-addon">.00</span>
                        </div>
    
                        <br>
                         <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                            <input [(ngModel)]="editingVoucher.amount_spent"   placeholder="Amount Spent" class="form-control" type="number" name="amount_spent" ngModel required>
                            <span class="input-group-addon">.00</span>
                          </div>
      
              
    
                              <br>
    
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                          <textarea class="form-control" placeholder="Reason for voucher" [(ngModel)]="editingVoucher.reason" type="text" name="reason" ngModel required></textarea>
                        </div>
                        <br>
    
                        <button type="button" [disabled]="!form.valid" type="submit" class="btn btn-primary btn-bottom center-block">Edit &nbsp;<i class="fa fa-telegram" aria-hidden="true"></i></button>
    
                       
                        </form>

                  </div>
                </div>
                
              </div>
            </div>
            <!-- END MULTI CHARTS -->
          </div>
        </div>




      </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
  <!-- END MAIN -->
  <div class="clearfix"></div>
  <footer>
    <div class="container-fluid">
      <p class="copyright">&copy; 2018 . All Rights Reserved.</p>
    </div>
  </footer>
</div>




<script src="assets/mainv/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/mainv/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/mainv/scripts/klorofil-common.js"></script>